<div class="MNHNhTraCUUser" style="width: 1440px; height: 1024px; position: relative; background: linear-gradient(217deg, rgba(250, 208, 196, 0.50) 0%, rgba(255, 209, 255, 0.50) 100%)">
    <div class="Table" style="width: 1205px; height: 197px; padding-right: 1px; left: 115px; top: 565px; position: absolute; border-radius: 12px; overflow: hidden; border: 3px #C3C3C3 solid; justify-content: flex-start; align-items: flex-start; display: inline-flex">
      <div class="Column" style="width: 109px; height: 197px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <div class="TableCell" style="width: 109px; height: 89px; padding-left: 24px; padding-right: 24px; padding-top: 12px; padding-bottom: 12px; background: #EBEBEB; border-bottom: 3px #8D8D8D solid; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
          <div class="Stt" style="flex: 1 1 0; color: black; font-size: 24px; font-family: Inter; font-weight: 500; word-wrap: break-word">STT</div>
        </div>
        <div class="ITmCell" style="width: 109px; height: 54px; padding-left: 24px; padding-right: 24px; padding-top: 12px; padding-bottom: 12px; background: #EBEBEB; border-bottom: 3px #8D8D8D solid; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
          <div style="width: 43px; height: 29px; text-align: center; color: black; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">1</div>
        </div>
        <div class="ITmCell" style="width: 109px; height: 54px; padding-left: 24px; padding-right: 24px; padding-top: 12px; padding-bottom: 12px; background: #EBEBEB; border-bottom: 3px #8D8D8D solid; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
          <div style="width: 43px; height: 29px; text-align: center; color: black; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">2</div>
        </div>
      </div>
      <div class="Column" style="width: 199px; height: 197px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <div class="TableCell" style="align-self: stretch; height: 89px; padding-left: 24px; padding-right: 24px; padding-top: 12px; padding-bottom: 12px; background: #EBEBEB; border-bottom: 3px #8D8D8D solid; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
          <div class="TNChR" style="text-align: center; color: black; font-size: 24px; font-family: Inter; font-weight: 500; word-wrap: break-word">Tên chú rể</div>
        </div>
        <div class="ITmCell" style="align-self: stretch; height: 54px; padding-left: 24px; padding-right: 24px; padding-top: 12px; padding-bottom: 12px; background: #EBEBEB; border-bottom: 3px #8D8D8D solid; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
          <div class="NguyNNam" style="flex: 1 1 0; height: 29px; text-align: center; color: black; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Nguyễn Nam</div>
        </div>
        <div class="ITmCell" style="align-self: stretch; height: 54px; padding-left: 24px; padding-right: 24px; padding-top: 12px; padding-bottom: 12px; background: #EBEBEB; border-bottom: 3px #8D8D8D solid; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
          <div class="LChC" style="flex: 1 1 0; height: 29px; text-align: center; color: black; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Lê Chí Đức</div>
        </div>
      </div>
      <div class="Column" style="width: 179px; height: 197px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <div class="TableCell" style="width: 179px; height: 89px; padding-left: 24px; padding-right: 24px; padding-top: 12px; padding-bottom: 12px; background: #EBEBEB; border-bottom: 3px #8D8D8D solid; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
          <div class="TNCDU" style="text-align: center; color: black; font-size: 24px; font-family: Inter; font-weight: 500; word-wrap: break-word">Tên cô dâu</div>
        </div>
        <div class="ITmCell" style="align-self: stretch; height: 54px; padding-left: 24px; padding-right: 24px; padding-top: 12px; padding-bottom: 12px; background: #EBEBEB; border-bottom: 3px #8D8D8D solid; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
          <div class="LNgLan" style="flex: 1 1 0; height: 29px; color: black; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Lương Lan</div>
        </div>
        <div class="ITmCell" style="align-self: stretch; height: 54px; padding-left: 24px; padding-right: 24px; padding-top: 12px; padding-bottom: 12px; background: #EBEBEB; border-bottom: 3px #8D8D8D solid; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
          <div class="PhMTrC" style="flex: 1 1 0; height: 29px; color: black; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Phạm Trúc</div>
        </div>
      </div>
      <div class="Column" style="width: 141px; height: 197px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <div class="TableCell" style="align-self: stretch; height: 89px; padding-left: 24px; padding-right: 24px; padding-top: 12px; padding-bottom: 12px; background: #EBEBEB; border-bottom: 3px #8D8D8D solid; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
          <div class="SNh" style="text-align: center; color: black; font-size: 24px; font-family: Inter; font-weight: 500; word-wrap: break-word">Sảnh</div>
        </div>
        <div class="ITmCell" style="align-self: stretch; height: 54px; padding-left: 24px; padding-right: 24px; padding-top: 12px; padding-bottom: 12px; background: #EBEBEB; border-bottom: 3px #8D8D8D solid; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
          <div class="A" style="width: 107px; align-self: stretch; color: black; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">A</div>
        </div>
        <div class="ITmCell" style="align-self: stretch; height: 54px; padding-left: 24px; padding-right: 24px; padding-top: 12px; padding-bottom: 12px; background: #EBEBEB; border-bottom: 3px #8D8D8D solid; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
          <div class="B" style="width: 107px; align-self: stretch; color: black; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">B</div>
        </div>
      </div>
      <div class="Column" style="width: 212px; height: 197px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <div class="TableCell" style="align-self: stretch; height: 89px; padding-left: 24px; padding-right: 24px; padding-top: 12px; padding-bottom: 12px; background: #EBEBEB; border-bottom: 3px #8D8D8D solid; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
          <div class="NgY" style="width: 164px; height: 29px; text-align: center; color: black; font-size: 24px; font-family: Inter; font-weight: 500; word-wrap: break-word">Ngày</div>
        </div>
        <div class="ITmCell" style="align-self: stretch; height: 54px; padding-left: 24px; padding-right: 24px; padding-top: 12px; padding-bottom: 12px; background: #EBEBEB; border-bottom: 3px #8D8D8D solid; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
          <div class="102022" style="flex: 1 1 0; height: 29px; text-align: center; color: black; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">20/10/2022</div>
        </div>
        <div class="ITmCell" style="align-self: stretch; height: 54px; padding-left: 24px; padding-right: 24px; padding-top: 12px; padding-bottom: 12px; background: #EBEBEB; border-bottom: 3px #8D8D8D solid; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
          <div class="42021" style="flex: 1 1 0; height: 29px; text-align: center; color: black; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">9/4/2021</div>
        </div>
      </div>
      <div class="Column" style="width: 97px; height: 197px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <div class="TableCell" style="width: 97px; height: 89px; padding-left: 24px; padding-right: 24px; padding-top: 12px; padding-bottom: 12px; background: #EBEBEB; border-bottom: 3px #8D8D8D solid; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
          <div class="Gi" style="color: black; font-size: 24px; font-family: Inter; font-weight: 500; word-wrap: break-word">Giờ</div>
        </div>
        <div class="ITmCell" style="width: 97px; height: 54px; padding-left: 24px; padding-right: 24px; padding-top: 12px; padding-bottom: 12px; background: #EBEBEB; border-bottom: 3px #8D8D8D solid; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
          <div class="30" style="color: black; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">11:30</div>
        </div>
        <div class="ITmCell" style="width: 97px; height: 54px; padding-left: 24px; padding-right: 24px; padding-top: 12px; padding-bottom: 12px; background: #EBEBEB; border-bottom: 3px #8D8D8D solid; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
          <div class="00" style="color: black; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">11:00</div>
        </div>
      </div>
      <div class="Column" style="width: 268px; height: 197px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <div class="TableCell" style="width: 268px; height: 89px; padding-left: 24px; padding-right: 24px; padding-top: 12px; padding-bottom: 12px; background: #EBEBEB; border-bottom: 3px #8D8D8D solid; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
          <div class="SLNgBN" style="color: black; font-size: 24px; font-family: Inter; font-weight: 500; word-wrap: break-word">Số lượng bàn</div>
        </div>
        <div class="ITmCell" style="width: 268px; height: 54px; padding-left: 24px; padding-right: 24px; padding-top: 12px; padding-bottom: 12px; background: #EBEBEB; border-bottom: 3px #8D8D8D solid; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
          <div style="color: black; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">20</div>
        </div>
        <div class="ITmCell" style="align-self: stretch; height: 54px; padding-left: 24px; padding-right: 24px; padding-top: 12px; padding-bottom: 12px; background: #EBEBEB; border-bottom: 3px #8D8D8D solid; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
          <div style="color: black; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">50</div>
        </div>
      </div>
    </div>
    <div class="Frame14" style="width: 184px; height: 43px; padding: 5px; left: 633px; top: 455px; position: absolute; background: #F25287; border-radius: 10px; justify-content: flex-start; align-items: center; gap: 10px; display: inline-flex">
      <div class="TraCU" style="width: 171px; text-align: center; color: white; font-size: 20px; font-family: Inter; font-weight: 800; word-wrap: break-word">Tra cứu</div>
    </div>
    <div class="Group50" style="width: 1440px; height: 128px; left: 0px; top: 0px; position: absolute">
      <div class="Rectangle1" style="width: 1440px; height: 128px; left: 0px; top: 0px; position: absolute; background: #F25287; border-top-left-radius: 14px; border-top-right-radius: 14px"></div>
      <div class="Frame2" style="width: 527px; height: 29px; left: 746px; top: 49px; position: absolute; justify-content: center; align-items: center; gap: 32px; display: inline-flex">
        <div class="ThNgTin" style="width: 142px; height: 29px; color: #F9F3F3; font-size: 24px; font-family: Inter; font-weight: 800; word-wrap: break-word">THÔNG TIN</div>
        <div class="CTiCCI" style="width: 205px; height: 29px; color: #F9F3F3; font-size: 24px; font-family: Inter; font-weight: 800; word-wrap: break-word">ĐẶC TIỆC CƯỚI</div>
        <div class="TraCU" style="width: 116px; height: 29px; color: #F9F3F3; font-size: 24px; font-family: Inter; font-weight: 800; word-wrap: break-word">TRA CỨU</div>
      </div>
      <div class="AlternateSignOut1" style="width: 64px; height: 64px; padding-top: 8px; padding-bottom: 7.99px; padding-right: 1px; left: 1337px; top: 32px; position: absolute; border-top-left-radius: 14px; border-top-right-radius: 14px; overflow: hidden; justify-content: center; align-items: center; display: inline-flex">
        <div class="Vector" style="width: 63px; height: 48.01px; background: #F9F3F3"></div>
      </div>
      <div class="Group29" style="width: 88px; height: 88px; left: 34px; top: 20px; position: absolute">
        <div class="Ellipse2" style="width: 88px; height: 88px; left: 0px; top: 0px; position: absolute; background: rgba(0, 0, 0, 0); border-radius: 9999px; border: 3px white solid"></div>
        <div class="W" style="width: 68px; height: 46px; left: 13px; top: 21px; position: absolute; color: white; font-size: 50px; font-family: Italianno; font-weight: 400; word-wrap: break-word">W</div>
      </div>
    </div>
    <div class="Frame1168" style="width: 494px; height: 276px; left: 148px; top: 179px; position: absolute; border-radius: 5px; overflow: hidden">
      <div class="Property1Default" style="width: 454px; height: 82px; left: 20px; top: 20px; position: absolute">
        <div class="TNChR" style="left: 12px; top: 31px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 500; word-wrap: break-word">Tên chú rể:</div>
        <div class="Rectangle32" style="width: 271px; height: 47px; left: 163px; top: 16px; position: absolute; background: white; border-radius: 8px"></div>
        <div class="All" style="left: 187px; top: 31px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 500; word-wrap: break-word">All</div>
      </div>
      <div class="Property1Variant2" style="width: 454px; height: 82px; left: 20px; top: 97px; position: absolute">
        <div class="TNCDU" style="left: 12px; top: 31px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 500; word-wrap: break-word">Tên cô dâu</div>
        <div class="Rectangle32" style="width: 271px; height: 47px; left: 163px; top: 16px; position: absolute; background: white; border-radius: 8px"></div>
        <div class="All" style="left: 187px; top: 31px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 500; word-wrap: break-word">All</div>
      </div>
      <div class="Property1Variant3" style="width: 454px; height: 82px; left: 20px; top: 174px; position: absolute">
        <div class="SNh" style="left: 12px; top: 31px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 500; word-wrap: break-word">Sảnh:</div>
        <div class="Rectangle32" style="width: 271px; height: 47px; left: 163px; top: 16px; position: absolute; background: white; border-radius: 8px"></div>
        <div class="All" style="left: 187px; top: 31px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 500; word-wrap: break-word">All</div>
        <div class="GridiconsDropdown" style="width: 47px; height: 55px; padding-left: 13.71px; padding-right: 13.71px; left: 387px; top: 12px; position: absolute; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
          <div class="Vector" style="width: 19.58px; height: 11.46px; background: black"></div>
        </div>
      </div>
    </div>
    <div class="Frame1169" style="width: 494px; height: 276px; left: 808px; top: 176px; position: absolute; border-radius: 5px; overflow: hidden">
      <div class="Property1Default" style="width: 454px; height: 82px; left: 20px; top: 20px; position: absolute">
        <div class="SLNgBN" style="left: 12px; top: 31px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 500; word-wrap: break-word">Số lượng bàn:</div>
        <div class="Rectangle32" style="width: 271px; height: 47px; left: 163px; top: 16px; position: absolute; background: white; border-radius: 8px"></div>
      </div>
      <div class="Property1Variant2" style="width: 454px; height: 82px; left: 20px; top: 97px; position: absolute">
        <div class="NgY" style="left: 12px; top: 31px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 500; word-wrap: break-word">Ngày:</div>
        <div class="Rectangle32" style="width: 271px; height: 47px; left: 163px; top: 16px; position: absolute; background: white; border-radius: 8px"></div>
        <div class="DdMmYy" style="width: 112px; height: 29px; left: 181px; top: 25px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 100; word-wrap: break-word">DD/MM/YY</div>
      </div>
      <div class="Property1Variant3" style="width: 454px; height: 82px; left: 20px; top: 174px; position: absolute">
        <div class="Gi" style="left: 12px; top: 31px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 500; word-wrap: break-word">Giờ:</div>
        <div class="Rectangle32" style="width: 271px; height: 47px; left: 163px; top: 16px; position: absolute; background: white; border-radius: 8px"></div>
        <div class="All" style="left: 187px; top: 31px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 500; word-wrap: break-word">All</div>
        <div class="GridiconsDropdown" style="width: 47px; height: 55px; padding-left: 13.71px; padding-right: 13.71px; left: 387px; top: 12px; position: absolute; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
          <div class="Vector" style="width: 19.58px; height: 11.46px; background: black"></div>
        </div>
      </div>
    </div>
  </div>