<%- include("partials/header.ejs") %>
<div class="container">
    <div class="header">
        <div class="circle">
          <div class="text">W</div>
        </div>
        <div class="righttext">
          <div>
            <form action="/main" method="POST">
              <input
                class="headertext"
                type="submit"
                name="thaydoi"
                value="THÔNG TIN"
              />
            </form>
          </div>
          <div>
            <form action="/booking" method="POST">
              <input
                class="headertext"
                type="submit"
                name="thaydoi"
                value="ĐẶT TIỆC CƯỚI"
              />
            </form>
          </div>
          <div>
            <form action="/UserLookUp" method="POST">
              <input
                id="headerinfo"
                class="headertext"
                type="submit"
                name="thaydoi"
                value="TRA CỨU"
              />
            </form>
          </div>
        </div>
        <form action="/tiepnhansanh" method="POST">
          <input
            class="headertext"
            type="image"
            name="thaydoi"
            src="staff/signout.svg"
            alt=""
          />
        </form>
      </div>    

    <div class="rest">
        <form action="/UserLookUp" method="POST">
            <div class="left-box">
                <div class="input-group">
                    <div class="label">Tên chú rể</div>
                    <div class="input"><input type="text" name="groomName" style="width: 100%; height: 46px; font-size: 24px;"></div>
                </div>
                <div class="input-group">
                    <div class="label">Tên cô dâu</div>
                    <div class="input"><input type="text" name="brideName" style="width: 100%; height: 46px; font-size: 24px;"></div>
                </div>
                <div class="input-group">
                    <div class="label">Sảnh</div>
                    <div class="input">
                        <select style="width: 100%; height: 46px; font-size: 24px; border: none; outline: none; background: transparent;" required>
                            <option value="" disabled selected hidden>All</option>
                            <option value="loai1">Sảnh abc</option>
                            <option value="loai2">Sảnh xyz</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="right-box">
                <div class="input-group">
                    <div class="label">Số lượng bàn</div>
                    <div class="input"><input type="number" name="tableCount" style="width: 100%; height: 46px; font-size: 24px;"></div>
                </div>
                <div class="input-group">
                    <div class="label">Ngày</div>
                    <div class="input"><input type="date" name="partyDate" style="width: 100%; height: 46px; font-size: 24px;"></div>
                </div>
                <div class="input-group">
                    <div class="label">Giờ</div>
                    <div class="input">
                        <select style="width: 100%; height: 46px; font-size: 24px; border: none; outline: none; background: transparent;" required>
                            <option value="" disabled selected hidden>All</option>
                            <option value="loai1">09:00 - 12:00</option>
                            <option value="loai2">17:00 - 20:00</option>
                        </select>
                    </div>
                </div>
            </div>
            <button type="submit" style="margin-top: 20px; font-size: 24px;">Tìm kiếm</button>
        </form>
    </div>
</div>
<%- include("partials/footer.ejs") %>
