<%- include("partials/header.ejs") %>
<div class="container">
  <%- include("partials/headerbar.ejs") %>
  <div class="rest">
    <div class="infobar">
      <div class="textandinput">
        <div>Tên chú rể</div>
        <div>
          <input class="enter" name="groomName " />
        </div>
      </div>
      <div class="textandinput">
        <div>Ca</div>
        <div>
          <select class="enter" required>
              <option value="" disabled selected hidden>Chọn ca</option>
              <option value="loai1">Ca 1</option>
              <option value="loai2">Ca 2</option>
          </select>
        </div>
      </div>
      <div class="textandinput">
        <div>Tên cô dâu</div>
        <div>
          <input class="enter" />
        </div>
      </div>
      <div class="textandinput">
        <div>Sảnh</div>
        <div>
          <select class="enter" required>
            <option value="" disabled selected hidden>Chọn sảnh</option>
            <option value="loai1">Sảnh abc</option>
            <option value="loai2">Sảnh xyz</option>
          </select>
        </div>
      </div>
      <div class="textandinput">
        <div>Điện thoại</div>
        <div>
          <input 
            class="enter" 
            type="tel"
            name="phone"
          />
        </div>
      </div>
      <div class="textandinput">
        <div>Tiền đặt cọc</div>
        <div>
          <input 
            class="enter" 
            type="number"
            name="deposit"
          />
        </div>
      </div>
      <div class="textandinput">
        <div>Ngày đãi tiệc</div>
        <div>
          <input 
            class="enter" 
            type="date"
            name="partyDate"
          />
        </div>
      </div>
      <div class="textandinput">
        <div>Số lượng bàn</div>
        <div>
          <input 
            class="enter" 
            type="number"
            name="tableQuantity"
          />
        </div>
      </div>
      <div class="textandinput">
        <div>Số bàn dự trữ</div>
        <div>
          <input 
            class="enter" 
            type="number"
            name="tableCount"
          />
        </div>
      </div>
    </div>

    <!-- Nút thêm món ăn -->
    <form action="/userthemmonan" method="POST">
      <button type="submit" class="AddBtnMonAn">
        <div class="TextInTheButton">Thêm món ăn</div>
      </button>
    </form>

    <form action="/userthemdichvu" method="POST">
      <button type="submit" class="AddBtnDV">
        <div class="TextInTheButton">Thêm dịch vụ</div>
      </button>
    </form>


    <form action="/xacnhandattiec" method="POST">
      <button type="submit" class="XacNhanBtn">
        <div class="TextInTheButton">Đặt Tiệc</div>
      </button>
    </form>

    <div class="popup">
      <div class="popup-content2">
        <div class="firsttext">Xác nhận đặt tiệc</div>
        <div class="secondtext">Tiệc cưới sẽ được đặt</div>
        <form action="/xacnhandattiec" method="POST">
          <button type="submit" class="confirm" name="confirmDT" value="yes">
            <div class="TextInTheButton">XÁC NHẬN</div>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<%- include("partials/footer.ejs") %>

